list 
list adalah jenis kumpulan data terurut (ordered sequence), dan merupakan salah satu variable yang sering digunakan pada phyton. serupa, namun tidak sama dengan array pada bahassa pemograman lainnya. bedanya, elemen list pada phyton tidak harus memiliki tipe data yang sama. list cukup mudah digunakan yaitu dengan menggunakan kurung siku dan elemen yang dipisahkan dengan koma.

setiap data di dalamnya dapat diakses dengan indeks yang dimulai dari 0

In [ ]:
#contoh list 
L1 = [1,4,2,13]
print(type(L1))

<class 'list'>

In [ ]:
buatlah list kalian sendiri dengan tiga tipe data

In [ ]:
# menggunakan tipe data tang sama 
L1 = [1,4,2,13]
L1

[1, 4, 2, 13]

In [ ]:
# menggunakan tipe data yang berbeda
L2 = ["a", "phyton", 3, 2+1]
L2

['a', 'phyton', 3, 3]

menampilkan elemen dengan menggunakan fungsi print

In [ ]:
matkul = ["fuzy", "pdp", "metnum", "graph"]
print(matkul[2])
print(matkul[2:])
print(matkul[1:3])
print(matkul[-2])
print(matkul[-3:-1])

metnum
['metnum', 'graph']
['pdp', 'metnum']
metnum
['pdp', 'metnum']

In [ ]:
print(matkul[-3])

pdp

In [ ]:
#buatlah list kalian sendiri dengan tiga tipe data minimal enam elemen

sifat-sifat list

In [ ]:
L1=[1,4,2,13]
L1

[1, 4, 2, 13]

In [ ]:
#terurut/ordered

In [ ]:
#buatlah list kalian sendiri dengan tiga tipe data minimal enam elemen

In [ ]:
T2 = ("desimal",76.0, 3+10j, True,"graph")
print("ini adalah tuple dua", T2)

ini adalah tuple dua ('desimal', 76.0, (3+10j), True, 'graph')
ini adalah tuple dua ('desimal', 76.0, (3+10j), True, 'graph')

In [ ]:
T2 = ("desimal",13,5, 4-50j, False,"pdp")
print("ini adalah tuple dua", T2)

ini adalah tuple dua ('desimal', 13, 5, (4-50j), False, 'pdp')

srting 
string dideklrasikan dengan diapit dengan dua tanda petik

In [ ]:
#menampilkan string denga fungsi print ()

In [ ]:
#slicing pada string
A = "belajar struktur data string" 
print(A[:5])
print(A[3:])
print(A[-5:])

belaj
ajar struktur data string
tring

In [ ]:
#slicing pada string
A = "belajar struktur data string"
print(A[1:])
print(A[:27])

elajar struktur data string
belajar struktur data strin

memodifikasi string

In [ ]:
#upper()
A.upper()

'BELAJAR STRUKTUR DATA STRING'

In [ ]:
#lower()
A.lower()

'belajar struktur data string'

In [ ]:
#strip()
z='rzl rdt P'
z
z.srtip('r')

In [ ]:
#replace()
A.replace('u','i')

'belajar striktir data string'

In [ ]:
#split()
A.split()

['belajar', 'struktur', 'data', 'string']

menggabungkan string

In [ ]:
A = "belajar struktur data string"
B = "pejuang data 3.0"
A + " " + B

'belajar struktur data string pejuang data 3.0'

set kumpulan item yang bersifat unik dan tanpa urutan. didenifisikan dengan kurawal dan elemenya dipisahkan dengan koma. pada set kita dapat melakukan union dan intersection, sekaligus otomatis melakukan penghapusan. key itu di depan : kalo value di belakang :

In [ ]:
#contoh set
S1 = {1,"dua", True, 2+3j}

In [ ]:
#dapat diijinkan dipublikasi
S1 = {1,"dua", "dua",2, 2+3j}
print("duplikasi pada set S1:",S1)

duplikasi pada set S1: {'dua', 1, 2, (2+3j)}

data set

In [ ]:
ganjil={1,3,5,7,9}
genap={2,4,6,8,10}
prima={2,3,5,7}

#union 
print(ganjil.union(genap))
#intersection
print(ganjil.intersection(prima))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{3, 5, 7}

dictionary pada phyton adalah kumpulan

In [ ]:
L2=[1,'dua',True,2+3j]
L2

[1, 'dua', True, (2+3j)]

In [ ]:
L1=[3, 'tiga',False,2000, 7.8]
L1

[3, 'tiga', False, 2000, 7.8]

In [ ]:
D2={10: 'genap',3+3j : 8, 5.5 : True, 'list':L1}
print(D2)

{10: 'genap', (3+3j): 8, 5.5: True}

In [ ]:
L2[2]

True

In [ ]:
L1[2]

False

In [ ]:
#memanggil elemen berdasarkan key 
print("D2['key'] =", D2[10]) ;

D2['key'] = genap

In [ ]:
#memanggil salah satu key dan value pada dictionary yang kalian buat

In [ ]:
#memanggil elemen berdasarkan key
print("D2[10]=", D2[10])
print("D2[3+3j]=", D2[3+3j])
print("D2[5.5]=", D2[5.5])

D2[10]= genap
D2[3+3j]= 8
D2[5.5]= True

if statemen

In [ ]:
angka = -2 
if angka > 0:
  print(angka, "adalah bilangan positif.")
  print(angka, "adalah bilangan negatif")

In [ ]:
if test expression :
  body of if.
else:
    body of else

phyton IF ELSE Statemen Flowchart

In [ ]:
#program disusun untuk mengecek e
angka = 3
if angka >= 0:
  print("bilangan lebih dari atau sanadengan 0")
else:
    print("bilangan kurang dari 0")

bilangan lebih dari atau sanadengan 0

In [ ]:
angka = -7
if angka >= 0:
  print("bilangan lebih dari atau sanadengan 0")
else:
    print("bilangan kurang dari 0")

bilangan kurang dari 0

In [ ]:
#program disusun untuk mengecek apakah dua buah angka itu sama atau tidak
a=5
b=5
if a==b:
  print("a dan b bernilai sama")
else:
  print("a dan b bernilai berbeda")

a dan b bernilai sama

In [ ]:
#program disusun untuk mengecek apakah perbandingan dua angka 
#dan menampilkan tulisan yang sesuai
#membaca dua angka
bil1=int(input("masukkan bilangan pertama:"))
bil2=int(input("masukkan bilangan kedua"))
#memilih bilangan yang lebih besar
if bil1 > bil2:
  bil_lebih_besar = bil1
else:
  bil_lebih_besar = bil2
#menampilkan hasil
print("bilangan yang lebih besar adalah :", bil_lebih_besar)

masukkan bilangan pertama:7
masukkan bilangan kedua9
bilangan yang lebih besar adalah : 9

if elif else statement flow chart

In [ ]:
if test expression:
  body of if
elif test expression :
  body of elif
else :
  body of else

In [ ]:
angka

In [ ]:
#argumen deafult
def angka2(a, b, c, d=4):
    print(a, b, c, d)

    angka2(1, 2, 3, 4)

praktik membuat fungsi

In [ ]:
x= 1
y= 2
x+y

3

In [ ]:
def penjumlahan(x,y): #input
  a=x+y               #proses
  return a            #output

penjumlahan(1,2)    #menggunakan fungsi

3

penjumlahan yang memungkinkan untuk tiga bilangan

In [ ]:
def penjumlahan(x,y,z=None):
    if (z==None):
        return x+y
    else :
        return x+y+z

print (penjumlahan (1, 2))
print (penjumlahan (1, 2, 3))

3
6

In [ ]:
def penjumlahan(x,y):
    return x+y
a = penjumlahan 
a(1, 2)

3

lambda

misalkan kita punya fungsi penjumlahan kuadrat seperti ini

In [ ]:
def suqare_sum(x,y):
  return x**2 + y**2

dengan lambda kita tidak perlu menggunakan def dan return bahkan kita juga tidak perlu menuliskan namanya

In [ ]:
lambda x,y :x**2 + y**2

lambda bisa memiliki lebih dari satu argumen atau parameter tapi hanya bisa memiliki satu eskpresi atau isi

In [ ]:
greeting = lambda name: print(f"hello, {name}")

karena fungsi lambda tidak punya nama, jadi kita butuh variable untuk menyimpanya
nanti saat mau kita panggil, kita tinggal tinggal tuliskan saja namanya

In [ ]:
greeting("Dian")
greeting("Ayu")

hello, Dian
hello, Ayu

beberapa contoh fungsi menggunakan lambda

In [ ]:
#fungsi Lambda untuk menambahkan angka 10 kepada argument input
f = lambda x: x+10
val1 = f(5)
val2 = f(100)
print(val1, val2)

15 110

In [ ]:
#fungsi lambda untuk mengalikan dua argumen input dan menampilkan hasilnya
f= lambda x,y:x*y
val3 = f(2,10)
val4 = f(7,5)
print(val3,val4)

20 35

anonymous function

In [ ]:
def say_hello(nama):
  print(f"hello{name}, apa kabar?")

ucapin = say_hello(name)

SyntaxError: ignored

eksekusi lamda secara langsung
eksekusi lambda secara langsung kelebihan fungsi dibandingkan def adalah bisa kita esksekusi langsung
contohnya

In [ ]:
(lambda x,y: x**2 + y**2)(4,6)

52

mengapa harus pakai lambda 
penggunaan fungsi fungsi filter, map, dan reduce membutuhkan lamda karena di fungsi fungsi tersebut membutuhkan parameter fungsi

In [ ]:
#memnentukan bilangan genap
genap = lambda x: x%2 == 0
list(filter(genap, range(11)))

[0, 4, 8]

In [ ]:
#memnentukan bilangan ganjil
ganjil = lambda x: x%2 == 1
list(filter(ganjil, range(11)))

[1, 3, 5, 7, 9]